
div.magnify
{
    position:relative;
    top:0;
    left:30px;
    width:75px; /* if your thumbnail is a different size, change this */
    background-color:#fff;
    z-index:100;
    float:left;
    margin:0 50px 10px 0;
}

div.magnify a.p1, div.magnify a.p1:visited
{
    display:block;
    width:75px; /* change to the dimensions of your thumbnail image */
    height:75px; /* change to the dimensions of your thumbnail image */
    text-decoration:none;
    background:#fff;
    font-size:9px;
    text-align:center;
    font-weight:normal;
    top:0;
    left:0;
    border:0;
}

div.magnify a img
{border:0;}

.magnify a.p1:hover
{
    text-decoration:none;
    background-color:#000;
    color:#000;
}

div.magnify a .large
{
    display:block;
    position:absolute;
    width:0;
    height:0;
    border:0;
    top:0;
    left:0;
}

div.magnify a.p1:hover .large
{
    display:block;
    position:absolute;
    top:-20px;
    left:77px;
    width:300px;  /* change to the dimensions of your large image */
    height:300px; /* change to the dimensions of your large image */
    border:10px inset #ccc; /* you can change the border width, style, and color */
}
